# Ignore data/, tmp/, cache/ and pagecache/
data
tmp
cache
pagecache

# Eclipse project files
.settings
.buildpath
.project

# Ignore raintpl generated pages
*.rtpl.php

# Ignore test dependencies
composer.lock
/vendor/

# Ignore development and test resources
coverage
doxygen
sandbox
phpmd.html

# Ignore user plugin configuration
plugins/*/config.php
