# Shaarli runtime resources
data
tmp
cache
pagecache

# Eclipse project files
.settings
.buildpath
.project

# Raintpl generated pages
*.rtpl.php

# 3rd-party dependencies
vendor/

# Release archives
*.tar.gz
*.zip
inc/languages/*/LC_MESSAGES/shaarli.mo

# Development and test resources
coverage
sandbox
phpmd.html
phpdoc.xml

# User plugin configuration
plugins/*/config.php
plugins/default_colors/default_colors.css

# HTML documentation
doc/html/
doc/phpdoc/

# 3rd party themes
tpl/*
!tpl/default
!tpl/vintage

# Front end
node_modules
tpl/default/js
tpl/default/css
tpl/default/fonts
tpl/default/img
tpl/vintage/js
tpl/vintage/css
tpl/vintage/img

# Documented scripts
generate_templates.php
