# Set default behavior
*       text=auto eol=lf

# Ensure sources are processed
*.conf  text
*.css   text
*.html  text diff=html
*.js    text
*.md    text
*.php   text diff=php
Dockerfile      text

# Do not alter images nor minified scripts nor fonts
*.ico           binary
*.jpg           binary
*.png           binary
*.svg           binary
*.otf           binary
*.eot           binary
*.woff          binary
*.woff2         binary
*.ttf           binary
*.min.css       binary
*.min.js        binary
*.mo            binary

# Exclude from Git archives
.editorconfig     export-ignore
.dev              export-ignore
.gitattributes    export-ignore
.github           export-ignore
.gitignore        export-ignore
.travis.yml       export-ignore
doc/**/*.json     export-ignore
doc/**/*.md       export-ignore
.docker/          export-ignore
.dockerignore     export-ignore
docker-compose.*  export-ignore
Dockerfile*       export-ignore
Doxyfile          export-ignore
Makefile          export-ignore
node_modules/     export-ignore
mkdocs.yml        export-ignore
phpunit.xml       export-ignore
tests/            export-ignore
