# Shaarli runtime resources
data
tmp
cache
pagecache

# Eclipse project files
.settings
.buildpath
.project

# Raintpl generated pages
*.rtpl.php

# 3rd-party dependencies
vendor/

# Release archives
*.tar.gz
*.zip

# Development and test resources
coverage
doxygen
sandbox
phpmd.html

# User plugin configuration
plugins/*/config.php

# 3rd party themes
tpl/*
!tpl/default
!tpl/vintage
