name: Build Docker image (Pull Request)
on:
  pull_request:
    branches: [ master ]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: shaarli/shaarli:pr-${{ github.event.number }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
